@model AdmissionsManagement.Models.Cadidate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cadidate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CadidateId" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfBirth" class="control-label"></label>
                <input asp-for="PlaceOfBirth" class="form-control" />
                <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAddress" class="control-label"></label>
                <input asp-for="CurrentAddress" class="form-control" />
                <span asp-validation-for="CurrentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfGradution" class="control-label"></label>
                <input asp-for="DateOfGradution" class="form-control" />
                <span asp-validation-for="DateOfGradution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadidateType" class="control-label"></label>
                <input asp-for="CadidateType" class="form-control" />
                <span asp-validation-for="CadidateType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityArea" class="control-label"></label>
                <input asp-for="PriorityArea" class="form-control" />
                <span asp-validation-for="PriorityArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectCombination" class="control-label"></label>
                <input asp-for="SubjectCombination" class="form-control" />
                <span asp-validation-for="SubjectCombination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PaymentStatus" /> @Html.DisplayNameFor(model => model.PaymentStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CadidateStatus" class="control-label"></label>
                <input asp-for="CadidateStatus" class="form-control" />
                <span asp-validation-for="CadidateStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
